:root
{
    --text-font-1:1.5em;
    --text-font-2:2.5em;
}


body
{
    margin: 0;
    font-family: sans-serif;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
}

.bg
{
    position: fixed;
  
    animation: bg1 3s ease 0s forwards;
}

@keyframes bg1
{
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.05;
    }
}


